@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Lato&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fraunces, serif;
    font-family: Oswald, sans-serif;
    font-family: Lato, sans-serif;

}


.informativo {
    width: 100%;
    padding: 5px;
    color: #fb0707;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72ff06;

}

.cabecalho {
    font-family: oswald, sans-serif;
    font-size: 18 px;
    width: 100%;
    background-color: #604829;
    color: #c4a47c;
    padding: 30px;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 80px;
    height: 89px;

}

.cabecalho img {
    position: absolute;
    left: 45px;
    bottom: 0px;
}

.cabecalho a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 30px;

}

.cabecalho a:hover {
    color: #3b7210;
    transition: 0.5s;
}

.banner {

    height: 100vh;
    background-image: url('/assets/img/parallax-imagem1.png');
    background-size: cover;
    background-position: center;
    margin: 80px 0 40px 0;

}

.banner h1 {
    position: absolute;
    font-family: fraunces, serif;
    font-size: 100px;
    width: 100%;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.main-informacao {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.main-informacao1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    justify-content: center;
    margin-top: 40px;
    padding: 120px;
}

.main-informacao1 h2 {
    font-size: 30px;
    font-weight: 800;
    color: #c4a47c;
    text-align: center;
    margin-bottom: 20px;
}

.main-informacao1 p {
    font-size: 20px;
    color: #666;
    text-align: left;
    margin-bottom: 20px;
}

.imagem-experimente {
    height: 100vh;
    background-image: url('/assets/img/parallax-imagem2.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;

}

.imagem-experimente h3 {
    position: absolute;
    width: 1024px;
    background-color: #d228192a;
    font-family: 'Courier New', Courier, monospace;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    border-radius: 5px;

}

.imagem-experimente1 {
    height: 100vh;
    background-image: url('/assets/img/parallax-imagem3.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;

}


.imagem-experimente1 h3 {
    position: absolute;
    width: 1024px;
    background-color: #d228192a;
    font-family: 'Courier New', Courier, monospace;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    border-radius: 5px;

}

.img-localizacao {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/parallax-imagem4.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.img-localização-iframe {  
    border: none;
    position: absolute;
    top:20%;
    left: 20%;
   
    
}

.img-localizacao h3 { 
   
    position: absolute;
    width: 500px;
    background-color: #604829;
    font-family: 'lato', sans-serif;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    border-radius: 5px;
}

.img-localizacao-parafros {  
    margin-top: 40px; 
    position: absolute;
    width: 500px;
    background-color: #604829;
    font-family: 'lato', sans-serif;
    padding:  30px;
    line-height: 2.0rem;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    border-radius: 5px;
    text-shadow: 8px 5px 5px #000;
}



.img_lista {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('/assets/img/cafeteria.jpg') no-repeat center center fixed;
    background-size: cover;

}

.lista {
    width: 1024px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #fff;
}